* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 63px 0 49px;
}

.header__logo {
    margin-bottom: 40px;
}

.header__info {
    display: inline-block;
    width: 334px;
    height: 79px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    cursor: pointer;
}

.header__info span {
    color: #4BCAFF;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}

.header__item {
    padding: 21px 48px;
    height: 69px;
    cursor: pointer;
    transition: .3s;
    border-right: 1px solid #FFFFFF;
}

.header__item:first-child {
    border-left: 1px solid #FFFFFF;

}

.header__item:hover {
    background-color: #222F3A;
}

.header__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

.hero__wrap {
    display: flex;
    gap: 52px;
    margin-bottom: 54px;
}

.ramda__nav {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.0001);
}

.ramda__item {
    padding: 26px 44px;
    transition: 0.5s;
}

.ramda__item:hover {
    background-color: #DBDBDB;
}

.ramda__link {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    cursor: pointer;
    transition: 0.5s;
}

.ramda__link:hover {
    color: #35444F;
    padding-left: 25px;
}

.kozel {
    display: flex;
    flex-direction: column;
}

.kozel__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;
}

.kozel__img img {
    max-width: 320px;
    max-height: 381px;
}

.kozel__desc {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.kozel__desc:first-child {
    margin-bottom: 34px;
}

.footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    gap: 135px;
    margin-bottom: 30px;
}

.footer__nav {
    display: flex;
    padding: 20px 40px;
    gap: 25px;
}

.footer__link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    transition: .5s;
    position: relative;
}

.footer__link:hover {
    color: #3181A6;
}

.footer__link:hover::after {
    width: 100%;
}

.footer__link:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -7px;
    left: 0;
    background-color: #3181A6;
    transition: .5s;
}

.footer__info {
    align-self: center;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

